<!DOCTYPE html>
<html lang="{{ .Lang }}">
  {{ partial "head.html" . }}
  <body>
    {{ partial "nav.html" . }}
    {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
    
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <article role="main" class="blog-post">

            <h3>アーカイブ：{{ .Title }}</h3>
            {{ range .Data.Pages }}
              <div style = "padding:0px 0px 9px 0px;">
                <div class="date">{{ .Date.Format "2006.01.02 (Mon)" }}</div>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
              </div>
            {{ end }}

          </article>
        </div>
      </div>
    </div>

    {{ partial "footer.html" . }}
  </body>
</html>